<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://use.typekit.net/ozg7vix.css">
  <link rel="stylesheet" href="/css/holding-style.css"/>
</head>

<body class="holding">

  <main>

    <header>
      <div class="container">
        <h1 class="logo">
          <a href="/" title="The home of Mindfulpuss"><img src="/img/mindfulpuss.svg" alt="Mindfulpuss"/></a>
        </h1>
        <h2>Who's ready for some Reikitty kitty?</h2>
      </div>
    </header>
    <section class="signup">
      <h1>Mindfulpuss is launching soon.</h1>
      <h2>Be one of the first to try it!</h2>
      <form netlify>
        <label for="name">Your name</label>
        <input name="name" labelled-by="name" type="text" />
        <label for="email">Your email</label>
        <input name="email" labelled-by="email" type="email" />
        <button>Sign up meow!</button>
      </form>
    </section>
  </main>
</body>
</html>