      <header>
        <div class="container">
          <h1 class="logo"><a href="/" title="The home of Mindfulpuss"><img src="/img/mindfulpuss.svg" alt="Mindfulpuss"/></a></h1>
          <h2>Who's ready for some Reikitty kitty?</h2>
        </div>
        {% include 'partials/nav.njk' %}
      </header>